@charset "utf-8";

:root{
  color-scheme: light dark;
}
body{
  margin:10px auto;
  width: 100%;
  max-width:1000px;
  transition: .5s;
}
body > *{
  width: 100%;
  margin:10px auto 0;
}
body > *:first-child{
  margin:0 auto;
}
body > img, body > video{
  display:block;
}
img.dotbydot{
  width: auto;
  max-width: 100%;
}
.flex-view{
  padding: 0;
  display: flex;
  align-items: flex-end;
  overflow: auto; 
}
.flex-view > li{
  list-style-type: none;
}
.flex-view > li > img{
  vertical-align: bottom;
}
@media only screen and (max-width : 1000px) {
  body > img.dotbydot{
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #2a2b2b;
    color: #ffffff;
  }
  a:link {
    color: #ffff11;
  }
  a:visited {
    color: #aae574;
  }
  a:active {
    color: #00ffff;
  }
}

.classroom
    {
    position: fixed;
    bottom: 16px;
    right: 0px;
    }
 
.classroom a
    {
    display: block;
    text-decoration: none;
    }
 
.classroom:hover
{
    opacity: 0.85 ;
}

#copy-page {
  display: inline-block;
  width: 450px;
  padding: 8px 0;
  font-size: 1rem;
  text-align: middle;
  color: #666;
  border-radius: 8px;
  background: #c7c7c7;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#copy-page:hover {
  cursor: pointer;
  opacity: .7;
}






#proxy {
  display: inline-block;
  width: 120px;
  padding: 8px 0;
  font-size: 1rem;
  text-align: middle;
  color: #666;
  border-radius: 8px;
  background: #c7c7c7;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#proxy:hover {
  cursor: pointer;
  opacity: .7;
}






#popup {
  display: none; /* label でコントロールするので input は非表示に */
}

.popup-open {
  cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
  font-weight: 600;
  font-size: large;
  width: 20%;
  height: 20%;
  position:  relative; 
  top: 40px;
  left: -20px;
}

.popup-overlay {
  display: none; /* input にチェックが入るまでは非表示に */
}

#popup:checked ~ .popup-overlay {
  display: block;
  z-index: 99999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup-window {
  width: 90vw;
  max-width: 560px;
  padding: 20px;
  background-color: #fffffff6;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-text {
  margin: 0;
  color: #000;
  font-size: large;
  font-weight: 450;
}

.popup-text:not(:last-of-type) {
  margin-bottom: 1em
}

.popup-close {
  cursor: pointer;
  position: absolute;
  top: -26px;
  right: 0;
}